@import "global";
@import "navbar";
@import "main";
@import "mid-section";
@import "footer";

// Variables
$primary: #ec4646;
$secondary: #4a2adb;
$third: #2f3355;
$fourth: #2b2e4a;
$sky-blue: #d8e3e7;
$text: #333333;

// $primary: #ec4646;
// $secondary: #4a2adb;
// $third: #2f3355;
// $fourth: #2b2e4a;
// $sky-blue: #d8e3e7;
// $text: #333333;
